<div id="auth-container">
    <div id="form-auth">

        <div class="row justify-content-md-center">
            <div class="col ">
                <form class="bg-white border border-light p-5" >

                    <p class="h4 mb-4 text-center">Reset Password</p>

                    <!-- Email -->
                    <div class="md-form">
                        <input mdbInput mdbValidate name="email" type="email" id="email" class="form-control"
                               [(ngModel)]="user_email"
                               #email="ngModel" required pattern="[^ @]*@[^ @]+">
                        <label for="email">Email</label>
                        <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">Please enter your email
                        </mdb-error>
                    </div>

                    <button class="btn-background" type="submit" (click)="sendEmail()">Send Password Reset Email</button>

                    <div class="d-flex justify-content-around">
                        <div>
                            <a [routerLink]="['/auth/login']">Go Back</a>
                        </div>
                    </div>

                </form>
                <!-- Default form login -->
            </div>

        </div>
    </div>
</div>
