<div class="row">
  <div class="col-md-6 align-self-center"><h1> Products </h1></div>
  <div class="col-md-6 align-self-center">
    <div class="row justify-content-center">

      <div class="col-md-2 align-self-center" >
        <label style="font-size: 20px; font-weight: bold">Filters: </label>
      </div>
      <div class="md-form col-md-4 align-self-center">
        <select class="browser-default custom-select md-select col xs-6" name="category" [(ngModel)]="filter.category"
                #category="ngModel" (ngModelChange)="onCategorySelected($event)">
          <option selected="" value="" required="">Select Category</option>
          <option>Computer and Accessory</option>
          <option>Clothes</option>
          <option>Shoes</option>
          <option>Cosmetics</option>
          <option>Home Appliances</option>
          <option>Grocery</option>
        </select>
      </div>
      <!-- price -->
      <div class="md-form col-md-3 align-self-center">
        <input mdbInput name="minPrice" type="text" id="min-price" class="form-control"
               [(ngModel)]="filter.price.min" #minPrice="ngModel" required (change)="getAllProducts()">
        <label for="min-price">Min Price </label>
      </div>

      <!-- price -->
      <div class="md-form col-md-3 align-self-center" >
        <input mdbInput name="minPrice" type="text" id="max-price" class="form-control"
               [(ngModel)]="filter.price.max" #maxPrice="ngModel" required (change)="getAllProducts()">
        <label for="min-price">Max price </label>
      </div>
    </div>

  </div>

</div>


<div class="row justify-content-md-center">

  <div *ngIf="product_count === 0">
    <h2>No Products found!</h2>
  </div>

  <div class="col col-lg-3 col-md-3" *ngFor="let product of products" style="margin-top: 10px">

    <!-- Card -->
    <div class="card">
      <!-- Card content -->
      <div class="card-body">
        <div (click)="selectedProduct = product ;frame.show()">
          <!-- Card image -->
          <img class="card-img-top img-size" src="{{product.images[0]}}"
               alt="Card image cap">
          <!-- Title -->
          <h4 class="card-title item-title"><a>{{product.name}}</a></h4>
          <label class="card-title item-brand"><a>{{product.brand}}</a></label>
        </div>
        <!-- Text -->
        <div class="row">
          <div class="col-md-6 ">
            <ng-container *ngIf="!cartItems[product.id]; else removeFromCartBlock">
              <button class="btn btn-primary cart-btn" (click)="addToCart(product.id)">Add To Cart</button>
            </ng-container>
            <ng-template #removeFromCartBlock>
              <button class="btn btn-danger" (click)="removeFromCart(product.id)">Remove</button>
            </ng-template>
          </div>
          <div class="col-md-6 text-right"><h4 class="card-title text-success">$ {{product.price}}</h4></div>

        </div>


        <!-- Button -->


      </div>

    </div>
    <!-- Card -->
  </div>


</div>

<div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" *ngIf="selectedProduct">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5">
            <!--Carousel Wrapper-->
            <mdb-carousel [isControls]="true" [animation]="'slide'">
              <!--First slide-->
              <mdb-slide *ngFor="let image of selectedProduct.images ">
                <img class="d-block w-100" src="{{image}}"
                     alt="First slide">
              </mdb-slide>
            </mdb-carousel>
            <!--/.Carousel Wrapper-->
          </div>
          <div class="col-lg-7">
            <h2 class="h2-responsive product-name">
              <strong>{{selectedProduct.name}}</strong>
            </h2>
            <h4 class="h4-responsive">
              <span class="green-text">
                <strong>${{selectedProduct.price}}</strong>
              </span>
            </h4>

            <!--Accordion wrapper-->
            <!--                <mdb-item [collapsed]="true" *ngFor="let item of itemsList">-->

            <div> {{ selectedProduct.brand }} </div>
            <!--                </mdb-item>-->
            <!--/.Accordion wrapper-->

            <!-- Add to Cart -->
            <div class="card-body">
              <!--                <div class="row">-->
              <!--                  <div class="col-md-6">-->
              <!--                    <div class="md-form">-->
              <!--                      <mdb-select [options]="colorSelect" placeholder="Choose your color"></mdb-select>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                  <div class="col-md-6">-->
              <!--                    <div class="md-form">-->
              <!--                      <mdb-select [options]="sizeSelect" placeholder="Choose your size"></mdb-select>-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <div class="text-center">

                <button type="button" mdbBtn color="secondary" class="waves-light" mdbWavesEffect (click)="frame.hide()"
                        data-dismiss="modal">Close</button>
<!--                <button mdbBtn color="primary" class="waves-light" mdbWavesEffect>Add to cart-->
<!--                  <mdb-icon fas icon="cart-plus" class="ml-2" aria-hidden="true"></mdb-icon>-->
<!--                </button>-->
                <ng-container *ngIf="!cartItems[selectedProduct.id]; else removeFromCartBlock">
                  <button class="btn btn-primary cart-btn" (click)="addToCart(selectedProduct.id)">Add To Cart
                    <mdb-icon fas icon="cart-plus" class="ml-2" aria-hidden="true"></mdb-icon>
                  </button>
                </ng-container>
                <ng-template #removeFromCartBlock>
                  <button class="btn btn-danger" (click)="removeFromCart(selectedProduct.id)">Remove</button>
                </ng-template>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
          <div class="col-lg-12">
            <h3>Product Details</h3>
            <div> {{ selectedProduct.description }} </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


