<div class="row">
  <div class="col lg-8 md-7 sx-6">
    <h1> My Cart </h1>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary checkout-btn" (click)="redirectToCheckout()">Checkout</button>
  </div>
</div>


<div class="row justify-content-md-center">
    <div class="col col-lg-3 col-md-3" *ngFor="let product of products">

        <!-- Card -->
        <div class="card ">
            <!-- Card content -->
            <div class="card-body">
              <!-- Card image -->
              <img class="card-img-top img-size" src="{{product.images[0]}}"
                   alt="Card image cap">
              <!-- Title -->
              <h4 class="card-titleitem-title"><a>{{product.name}}</a></h4>
              <label class="card-title item-brand"><a>{{product.brand}}</a></label>
              <div class="row">
              <div class="col-md-6 ">
              <div class="md-form">
                <label>Quantity: </label>
                <input mdbInput mdbValidate name="input" type="number" class="form-control" min="1" max="{{product.qty}}" [(ngModel)]="product.cart_qty"
                       (change)="calculateTotalForOrder()" #productQtyInCart required>
                <mdb-error *ngIf="productQtyInCart.value > product.qty">Input invalid</mdb-error>
              </div>
              <button class="btn btn-background" (click)="removeFromCart(product.id)">Remove</button>
                </div>
                <div class="col-md-6 text-right"><h4 class="card-title text-success">$ {{product.price}}</h4></div>

            </div>

        </div>
        <!-- Card -->
    </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <label>SubTotal: ${{subTotal}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Tax: ${{tax}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label>Total: ${{subTotal + tax}}</label>
      </div>
    </div>
  </div>
</div>
