<div class="row justify-content-md-center">
  <div class="col col-lg-10 col-md-10">
    <p class="h4 mb-4 text-center">My Orders</p>
    <table id="tableSortExample" mdbTable class="z-depth-1">
      <thead>
      <tr>
        <th *ngFor="let head of headElements; let i = index" aria-controls="tableSortExample" scope="col"
            [mdbTableSort]="orders" [sortBy]="headElements[i]">{{head | titlecase}}
          <mdb-icon fas icon="sort"></mdb-icon>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="orders.length > 0">
      <ng-container *ngFor="let el of orders; let i = index">
        <tr style="border-top: 2px solid black" (click)="hideShorOrderDetails(el)">
          <td>{{el.created_on}}</td>
          <td>$ {{el.subtotal}}</td>
          <td>{{el.taxes}}</td>
          <td>$ {{el.total}}</td>
        </tr>
        <tr [class.hide-details]="!el.show">
          <td colspan="4">
            <table width="80%" style="margin: auto">
              <tr>
                <td colspan="4" class="text-center"><h6>Items </h6></td>
              </tr>
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Sub Total</th>
              </tr>
              <tr *ngFor="let item of el.items; let i = index">
                <td>{{item.name}}</td>
                <td>$ {{item.unit_price}}</td>
                <td>{{item.qty}}</td>
                <td>$ {{item.subtotal}}</td>
              </tr>
              <tr>
                <td colspan="2"><h6>Shipped To:</h6></td>
                <td colspan="2">{{el.shipping_details.name}}<br/>{{el.shipping_details.street}}<br/>{{el.shipping_details.city}}<br/>{{el.shipping_details.province}}<br/>{{el.shipping_details.postal}}<br/></td>
              </tr>
            </table>
          </td>
        </tr>
      </ng-container>

      </tbody>

    </table>

  </div>
</div>
