<div id="auth-container">
  <div id="form-auth">
    <div class="row justify-content-md-center">
      <div class="col "><!-- Default form login -->
        <form class="bg-white border border-light p-5">

          <p class="h4 mb-4 text-center">Change Password</p>
          <div class="md-form">
            <input mdbInput mdbValidate name="password" type="password" id="password" class="form-control"
                   [(ngModel)]="passwordData.password" #password="ngModel" required>
            <label for="password">Password </label>
            <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Please enter
              Password
            </mdb-error>
          </div>
          <div class="md-form">
            <input mdbInput mdbValidate name="cpassword" type="password" id="cpassword" class="form-control"
                   [(ngModel)]="passwordData.cpassword" #cpassword="ngModel" required>
            <label for="cpassword">Confirm Password </label>
            <mdb-error *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)">Please re-Enter
              password
            </mdb-error>
          </div>
          <button class="btn-background" type="submit" (click)="changePassword()">Change Password</button>

          <!-- Register -->
          <!--                    <p>Not a member?-->
          <!--                        <a [routerLink]="['/auth/register']">Register</a>-->
          <!--                    </p>-->

        </form>
        <!-- Default form login -->
      </div>

    </div>

  </div>
</div>
